td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center; 
    color:red;
}
#header {
	text-align: left;
    }
.title {
    float: right;
	width: 1760px;
	height: 70px;
	margin-right: 20px;
	margin-top: 10px;
	border: 1px solid black;
	background: white;
	font-family: Futura Md BT;
	text-align: center;
	font-size: 35pt;

}

.highlightRow {
  background-color: rgb(239, 222, 190);
}

.titlee {
  float: right;
	width: 1760px;
	height: 40px;
	margin-right: 20px;
	margin-top: 10px;
	border: 0px solid black;
	background: white;
	font-family: Futura Md BT;
	text-align: center;
	font-size: 24pt;

}

.btns{
  background:#03787c; 
  color: white; 
  border: 3px solid #03787c; 
  font-size: 12pt; 
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

#homepage {
  font-size: 10pt;
}

.container1 {
	border: 0px solid black;
	background: white;
	font-family: Futura Md BT;
	font-size: 10pt;
}

.container2 {
	width: 300px;
	border: 1px solid black;
	background: white;
	font-family: Futura Md BT;
	font-size: 10pt;
  float: left;
}

.container3 {
	width: 1400px;
	margin-left:auto;
	margin-right:auto;
  border: 0px solid black;
  background: white;
	font-family: Futura Md BT;
	font-size: 10pt;
}

.container4 {
	width: 1880px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	background: white;
	font-family: Futura Md BT;
	font-size: 10pt;
}

.tableBox {
	width: 290px;
  height: 150px;
	margin-left:20px;
  margin-top:20px;
	border: 0px solid silver;
  border-radius: 10px;
	font-family: Futura Md BT;
	font-size: 12pt;
  float: left;
  color: white;
}

.deptDiv {
	width: 290px;
	font-family: Futura Md BT;
	font-size: 16pt;
  float: none;
  color: #03787c;
  font-weight: bold;
}

.box1 {
	width: 290px;
  height: 75px;
	border: 3px solid #03787c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px; 
	background: #03787c;
	font-family: Futura Md BT;
	font-size: 12pt;
  float: left;
  color: white;
  cursor: pointer;
}
.box2 {
	width: 290px;
  height: 75px;
	border: 3px solid silver;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px; 
  padding-left: 10px;
	background: white;
	font-family: Futura Md BT;
	font-size: 8pt;
  float: left;
  color: grey;
}

.toolButton {
	height: 20px;
	font-size: 8pt;
	color: black;
	background: rgb(240, 240, 240);
	border: 1px solid black;
}
#addRow {
    float: right;
}
#logoutbutton {
    float: right;
}
#loginbutton {
    float: right;
}
#reportrange {
	height: 40px;
	font-size: 10pt;
	color: black;
	background: rgb(240, 240, 240);
	border: 1px solid black;
}
/*
table.display {
	table-layout:fixed;
}*/

/*#addRow {
		margin-left: 60%;
}*/




body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
#loginn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  }

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 800px; /* Could be more or less, depending on screen size */
}
.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
}

/* Modal Content/Box */
.modal2-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
}
.modal2-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 14%; /* Could be more or less, depending on screen size */
}
#uname {
    width: 20%;
}

#psw {
    width: 20%;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 25px;
  font-weight: bold;
}
#show:hover,
#show:focus {
  color: green;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

tr[id]{
  display : none;
}


#dataEntry {
  border-collapse: collapse;
  width: 100%;
  text-align:left;
}

#dataEntry td, #dataEntry th {
  border: 1px solid #ddd;
  font-size: 8pt;
}


#dataEntry th {
  text-align: left;
  background-color: #03787c;
  color: white;
  position: sticky;
  z-index: 2;
  top: 0;
}

#myTables {
  border-collapse: collapse;
  width: 100%;
  text-align:left;
}

#myTables td, #myTables th {
  border: 1px solid #ddd;
  font-size: 9pt;
}

#myTables th {
  text-align: left;
  background-color: #03787c;
  color: white;
}

#myFields {
  border-collapse: collapse;
  width: 100%;
  text-align:left;
}

#myFields td, #myFields th {
  border: 1px solid #ddd;
  font-size: 9pt;
}

#myFields th {
  text-align: left;
  background-color: #03787c;
  color: white;
}

#dataUsers {
  border-collapse: collapse;
  width: 100%;
  text-align:left;
}

#dataUsers td, #myFields th {
  border: 1px solid #ddd;
  font-size: 9pt;
}

#dataUsers th {
  text-align: left;
  background-color: #03787c;
  color: white;
}

input:invalid {
  animation: shake 300ms;
}
@keyframes shake {
  25% {transform: translate(4px);}
  50% {transform: translate(-4px);}
  75% {transform: translate(4px);}
}

.topBar{
  width: 100%; 
  height: 50px; 
  background:#03787c; 
  text-align: left; 
  font-family: Futura Md BT; 
  font-size: 16pt; 
  color: white; 
  padding-top: 10px; 
  position: fixed;
  z-index: 1;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #03787c;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}